<footer class="teal pag">
  <div class="valign-wrapper">
      <img src="/assets/images/logo_socialwatch.png" style="width: 15%; margin-top:10px; margin-bottom:10px;" alt="Logo SocialWatch Bénin" />
    <div class="container">
       
      <div class="row hide-on-small-only">
       
        <div style="color:white; margin-top:17px" class="col s8 left-align white-text">
       suiviPAG - <strong>Copyright </strong>© 2018
        </div>
        <div style="color:white; margin-top:17px" class="col s4 right-align">
          Designed by  <a href="http://rintio-institute.com" target="_blank" class="brand-logo white-text">Rintio Institute</a>
        </div>
      </div>
<!--
      <div class="row hide-on-med-and-up">
        <div class="col s12 center-align white-text">
          monPAG - <strong>Copyright </strong>© 2017
        </div>
        <div class="col s12 center-align">
          designed by  <a href="http://rintio-institute.com" target="_blank" class="brand-logo white-text">Rintio Institute</a>
        </div>
      </div>
    </div>
  </div>-->
</footer>
